
.container {
  display: flex;
  flex-direction: column;
}

.figure-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.figure-wrapper {
  width: 100%;
  padding-bottom: 13%;
  flex: 1;
  position: relative;
}
.figure {

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: url('../images/haring/border.png') no-repeat;
  background-size: 100%;

  text-align: center;

}

.figure img {
  max-width: 70%;
  max-height: 70%;
  margin-top: 15%;
}

.green {
  background-color: #a3d626;
}
.dark-green {
  background-color: #25a43d;
}
.red {
  background-color: #fe2425;
}
.orange {
  background-color: #ff5d37;
}
.pink {
  background-color: #fd59af;
}
.dark-blue {
  background-color: #094794;
}
.blue {
  background-color: #3bbcff;
}
.yellow {
  background-color: #fecd1b;
}
.grey {
  background-color: #cccccc;
}
