.container {
  display: flex;
  flex-direction: column;
}

.figure-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.figure-wrapper {
  width: 100%;
  padding-bottom: 13%;
  flex: 1;
  position: relative;
}

.bg {
  z-index: 20;
  position: absolute;

}

.letters {
  position: absolute;

  bottom: 5%;
  right: 5%;
  padding-right: 5%;

  width: 100%;
  height: 11%;

  text-align: right;

  transform:rotate(-7deg);
  -ms-transform:rotate(-7deg); /* IE 9 */
  -webkit-transform:rotate(-7deg); /* Opera, Chrome, and Safari */

}

.letters img {
  max-width: 70%;
  max-height: 70%;
}

/*noinspection CssUnknownTarget*/
.bg.water {
  background: url('../images/haring/water.png') no-repeat bottom center;
  background-size: 100%;
}

/*noinspection CssUnknownTarget*/
.bg.ground {
  background: url('../images/haring/ground.png') no-repeat bottom center;
  background-size: 100%;
}

.figure {

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  text-align: center;

}

/*noinspection CssUnknownTarget*/
.figure.solid {
  background: url('../images/haring/border.png') no-repeat;
  background-size: 100%;
}

/*noinspection CssUnknownTarget*/
.figure.dotted {
  background: url('../images/haring/border_dotted.png') no-repeat;
  background-size: 100%;
}

.figure >img {
  z-index: 10;
  max-width: 70%;
  max-height: 70%;
  margin-top: 13%;
}

.green {
  background-color: #a3d626;
}
.dark-green {
  background-color: #25a43d;
}
.red {
  background-color: #fe2425;
}
.orange {
  background-color: #ff5d37;
}
.pink {
  background-color: #fd59af;
}
.dark-blue {
  background-color: #094794;
}
.blue {
  background-color: #3bbcff;
}
.yellow {
  background-color: #fecd1b;
}
.grey {
  background-color: #cccccc;
}
