
.container, .figure-row {

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.container {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.figure-row {
  flex-direction: row;
  flex-wrap: nowrap;
}

.figure-wrapper {
  width: 100%;
  position: relative;

  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.bg {
  z-index: 20;
  position: absolute;

}

.letters {
  position: absolute;

  bottom: 10%;
  right: 5%;
  padding-right: 5%;

  width: 100%;
  height: 11%;

  text-align: right;

  transform:rotate(-7deg);
  -ms-transform:rotate(-7deg); /* IE 9 */
  -webkit-transform:rotate(-7deg); /* Opera, Chrome, and Safari */

}

.letters img {
  max-width: 70%;
  max-height: 70%;
}

/*noinspection CssUnknownTarget*/
.bg.water {
  background: url('../images/haring/water.png') no-repeat bottom center;
  background-size: 100%;
}

/*noinspection CssUnknownTarget*/
.bg.ground {
  background: url('../images/haring/ground.png') no-repeat bottom center;
  background-size: 100%;
}

/*noinspection CssUnknownTarget*/
.figure.solid {
  background: url('../images/haring/border.png') no-repeat;
  background-size: 100%;
}

/*noinspection CssUnknownTarget*/
.figure.dotted {
  background: url('../images/haring/border_dotted.png') no-repeat;
  background-size: 100%;
}

.figure >img {
  z-index: 10;
  max-width: 70%;
  max-height: 70%;
  margin: 13%;
  margin-left: 15%;
}

.skating {
  margin: 7% !important;
  max-width: 87% !important;
}

.green {
  background-color: #a3d626;
}
.dark-green {
  background-color: #25a43d;
}
.red {
  background-color: #fe2425;
}
.orange {
  background-color: #ff5d37;
}
.pink {
  background-color: #fd59af;
}
.dark-blue {
  background-color: #094794;
}
.blue {
  background-color: #3bbcff;
}
.yellow {
  background-color: #fecd1b;
}
.grey {
  background-color: #cccccc;
}

.chardinjs-tooltip.chardinjs-right:before {
  left: -20px;
}

.chardinjs-tooltip.chardinjs-right:before, .chardinjs-tooltip.chardinjs-left:after {
  width: 18px;
}