html, body {
  height: 100%;
}

body {
  position: relative;
}

.center-aligner {
  position: absolute;
  top: 50%;
  height: 95%;
  width: 95%;
  margin: -30% 0 0 -48%;
  left: 50%;
}


.container, .figure-row {

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  position: relative;
}


.figure-row {
  flex-direction: row;
  flex-wrap: nowrap;
}

.figure-wrapper {
  width: 100%;
  position: relative;

  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.figure-wrapper.invisible-horizontal, .figure-wrapper.invisible-vertical {
  visibility: hidden;
}
.figure-wrapper.invisible-diagonal-lr img, .figure-wrapper.invisible-diagonal-rl img {
  visibility: hidden;
}
.info-state .figure-wrapper.invisible-horizontal, .info-state .figure-wrapper.invisible-vertical, .info-state .figure-wrapper.invisible-diagonal {
  visibility: visible;
}

.figure-wrapper.do-not-display, .figure-wrapper.four-vertical.do-not-display, .figure-wrapper.four-diagonal.do-not-display {
  display: none;
}

.info-state .figure-wrapper.four-horizontal, .info-state .figure-wrapper.four-vertical, .info-state .figure-wrapper.four-diagonal {
  display: none;
}

/*HORIZONTAL*/
.figure-wrapper.four-horizontal {
  position: absolute;
  width: 64%;
}
.figure-wrapper.four-horizontal .figure .image >img {
  margin-top: 3%;
  margin-bottom: 1%;
  margin-left: 12%;
  max-width: 77%;
}
.figure-wrapper.four-horizontal .letters.bottom-right {
  bottom: 0%;
  right: 0%;
  height: 18%;
}

/*VERTICAL*/
.figure-wrapper.four-vertical {
  display: flex;
  height: 97%;
  width: 17%;
  position: absolute;
}
.figure-wrapper.four-vertical .figure .image >img {
  margin-left: 11%;
  margin-top: 21%;
}
.figure-wrapper.four-vertical .letters.bottom-right {
  bottom: 0%;
  right: 22%;
  height: 7%;
}

/*DIAGONAL*/
.figure-wrapper.four-diagonal {
  position: absolute;
}
.figure-wrapper.four-diagonal .figure {
  background: none;
}
.figure-wrapper.four-diagonal .figure .image >img {
  width: 58%;
  margin-left: 3%;
  margin-top: 2%;
  background: none;
}
.figure-wrapper.four-diagonal .letters.bottom-right {
  bottom: 7%;
  right: 34%;
  height: 6%;
}

.figure-wrapper.four-diagonal.four-diagonal-rl .letters.bottom-right {
  right: 82%;
}

.bg {
  z-index: 20;
  position: absolute;
}

.figure {
  position: relative;
}

.figure .letters {
  position: absolute;

  transform:rotate(-7deg);
  -ms-transform:rotate(-7deg); /* IE 9 */
  -webkit-transform:rotate(-7deg); /* Opera, Chrome, and Safari */

  width: 100%;
  height: 11%;
}

.figure .letters.bottom-right {
  bottom: 10%;
  right: 5%;
  padding-right: 5%;

  text-align: right;
}

.figure .letters.top-left {
  top: 2%;
  left: 5%;
  padding-left: 5%;

  text-align: left;
}

.figure .letters img {
  max-width: 70%;
  max-height: 70%;
}

.bg {
  z-index: 20;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

/*noinspection CssUnknownTarget*/
.figure.solid {
  background: url('images/border.png') no-repeat;
  background-size: 100%;
}

/*noinspection CssUnknownTarget*/
.four-horizontal .figure.solid, .four-horizontal .figure.dotted {
  background: url('images/border_four_horizontal.png') no-repeat;
  background-size: 100%;
}

/*noinspection CssUnknownTarget*/
.four-vertical .figure.solid, .four-vertical .figure.dotted {
  background: url('images/border_four_vertical.png') no-repeat;
  background-size: 90%;
  background-position: 0% 100%;
}

/*noinspection CssUnknownTarget*/
.figure.dotted {
  background: url('images/border_dotted.png') no-repeat;
  background-size: 100%;
}

.info {
  z-index: 25;
  position: absolute;
  width: 86%;
  height: 80%;
  margin: 8%;
  font-size: 1.3vw;
  padding: 3%;
  padding-right: 1%;
  overflow-y: scroll;
  display: none;
}

.info-state {
  background-color: #cccccc !important;
}

.info-state .info {
  display: block;
}

.info .level-1 {
  display: none;

  word-break: break-word;
  font-size: 2.4vw;
  font-weight: bold;
  text-align: center;
  height: 100%;
  padding-top: 10%;
}

.info.smaller .level-1 {
  font-size: 1.8vw;
}

.info .level-2 {
  display: none;
}

.figure .image >img {
  z-index: 10;
  max-width: 70%;
  max-height: 70%;
  margin: 13%;
  margin-left: 20%;
}

.announcement-figure {
  z-index: 30;
  display: none;
  position: absolute;
  top: 10%;
  left: 25%;
  width: 50%;
  height: 85%;

}
.announcement-figure .image >img {
  width: 63%;
}
.announcement-figure .letters.top-left {
  top: 6%;
}
.announcement-figure .letters.bottom-right {
  bottom: 15%;
}
.announcement-figure .letters img {
  max-height: 65%;
}

.building {
  margin: 7% !important;
  max-width: 87% !important;
}
.building ~ .letters {
  display: none;
}

.green {
  background-color: #a3d626;
}
.dark-green {
  background-color: #25a43d;
}
.red {
  background-color: #fe2425;
}
.orange {
  background-color: #ff5d37;
}
.pink {
  background-color: #fd59af;
}
.dark-blue {
  background-color: #094794;
}
.blue {
  background-color: #3bbcff;
}
.yellow {
  background-color: #fecd1b;
}
.grey {
  background-color: #cccccc !important;
}
