
.container, .figure-row {

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.container {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.figure-row {
  flex-direction: row;
  flex-wrap: nowrap;
}

.figure-wrapper {
  width: 100%;
  position: relative;

  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.bg {
  z-index: 20;
  position: absolute;
}

.letters {
  position: absolute;

  transform:rotate(-7deg);
  -ms-transform:rotate(-7deg); /* IE 9 */
  -webkit-transform:rotate(-7deg); /* Opera, Chrome, and Safari */

  width: 100%;
  height: 11%;
}

.letters.bottom-right {
  bottom: 10%;
  right: 5%;
  padding-right: 5%;

  text-align: right;
}

.letters.top-left {
  top: 2%;
  left: 5%;
  padding-left: 5%;

  text-align: left;
}

.letters img {
  max-width: 70%;
  max-height: 70%;
}

.bg {
  z-index: 20;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

/*noinspection CssUnknownTarget*/
.bg.water {
  background: url('images/water.png') no-repeat bottom center;
  background-size: 100%;
}

/*noinspection CssUnknownTarget*/
.bg.ground {
  background: url('images/ground.png') no-repeat bottom center;
  background-size: 100%;
}

/*noinspection CssUnknownTarget*/
.figure.solid {
  background: url('images/border.png') no-repeat;
  background-size: 100%;
}

/*noinspection CssUnknownTarget*/
.figure.dotted {
  background: url('images/border_dotted.png') no-repeat;
  background-size: 100%;
}

body.info-level-1 .info, body.info-level-2 .info {
  display: block;
}

body.info-level-1 .level-1, body.info-level-2 .level-2 {
  display: block;
}

.info {
  z-index: 25;
  position: absolute;
  width: 86%;
  height: 80%;
  margin: 8%;
  font-size: 1.3vw;
  padding: 3%;
  padding-right: 1%;
  overflow: hidden;
  display: none;
}

.info .level-1 {
  display: none;

  font-size: 2.4vw;
  font-weight: bold;
  text-align: center;
  height: 100%;
  padding-top: 10%;
}
.info .level-2 {
  display: none;
}

.figure >img {
  z-index: 10;
  max-width: 70%;
  max-height: 70%;
  margin: 13%;
  margin-left: 15%;
}

.announcement-figure {
  z-index: 30;
  display: none;
  position: absolute;
  bottom: -5%;
  left: 25%;
  width: 50%;
  height: 85%;

}
.announcement-figure >img {
  width: 70%;
}
.announcement-figure >.top-left {
  top: 4%;
}
.announcement-figure >.bottom-right {
  bottom: 34%;
}
.announcement-figure >.letters img {
  max-height: 45%;
}

.building {
  margin: 7% !important;
  max-width: 87% !important;
}
.building ~ .letters {
  display: none;
}

.green {
  background-color: #a3d626;
}
.dark-green {
  background-color: #25a43d;
}
.red {
  background-color: #fe2425;
}
.orange {
  background-color: #ff5d37;
}
.pink {
  background-color: #fd59af;
}
.dark-blue {
  background-color: #094794;
}
.blue {
  background-color: #3bbcff;
}
.yellow {
  background-color: #fecd1b;
}
.grey {
  background-color: #cccccc;
}

/* bootstrap extensions */
.tooltip {
  font-size: 1em;
}

/* chardin extensions */
.chardinjs-tooltip.chardinjs-right:before {
  left: -20px;
}

.chardinjs-tooltip.chardinjs-right:before, .chardinjs-tooltip.chardinjs-left:after {
  width: 18px;
}