
/*noinspection CssUnknownTarget*/
.figure .bg.winter.fail {
  background: url('winter/fail.png') no-repeat bottom center;
  background-size: 30%;
  bottom: 62%;
  left: 27%;
}

/*noinspection CssUnknownTarget*/
.figure .bg.winter.passed {
  background: url('winter/passed.png') no-repeat bottom center;
  background-size: 22%;
  bottom: 66%;
  left: 3%;
}

/*noinspection CssUnknownTarget*/
.figure .bg.winter.passed_after_fail {
  background: url('winter/passed_after_fail.png') no-repeat bottom center;
  background-size: 69%;
  bottom: 67%;
  left: 0;
}

.four-horizontal .figure .bg.winter, .four-vertical .figure .bg.winter, .four-diagonal .figure .bg.winter {
  background: none;
}
.figure-wrapper.invisible-diagonal-lr .figure .bg.winter, .figure-wrapper.invisible-diagonal-rl .figure .bg.winter {
  background: none;
}